@import 'mixin';
.chatLayout {
  display: flex;
  height: calc(100vh - 64px);
  overflow: auto;

  &.loading {
    opacity: 0.3;
  }

  .conversations {
    width: 300px;
    flex: 0 0 300px;
    overflow: auto;

    @include respondTo(xs) {
      transition: all 400ms ease;
      margin-left: -300px;

      .addChatButton {
        left: -300px;
      }

      &.show {
        margin-left: 0;
        transition: all 400ms ease;

        .addChatButton {
          left: 50px;
        }
      }
    }
  }

  .conversation {
    flex: 1 1 100%;
    overflow: auto;
  }
}

.addChatButton {
  position: fixed;
  bottom: 10px;
  left: 50px;
}

.conversations {
  padding-bottom: 80px;
}

.chatWrapper {
  height: 100%;
  overflow: hidden;
  box-shadow: inset 2px 0 4px rgba(136, 136, 136, 0.15) !important;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.chatHeader {
  height: 65px;
  flex: 0 0 65px;
  box-shadow: 0 1px 4px rgba(136, 136, 136, 0.15);
  z-index: 2;
}

.chatBody {
  overflow: auto;
  height: 100%;
  padding: 0 !important;
  background: #FFF url(/images/geometry.png) repeat;
}

.chatInput {
  height: 86px;
  flex: 0 0 86px;
}


.chatCardHeader {
  display: flex;
  white-space: normal !important;

  p {
    word-break: break-all;
  }

  > img {
    flex: 0 0 40px;
  }

  > div {
    padding-right: 0 !important;
  }
}
